APP_ENV=dev
LOG_LEVEL=INFO
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
CELERY_TASK_ALWAYS_EAGER=false
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=false
SMTP_USE_STARTTLS=false
MAIL_FROM_NAME=Mail Service
MAIL_FROM_EMAIL=no-reply@example.com
MAIL_REPLY_TO=
NOTIFICATION_EMAIL=admin@example.com
TEMPLATE_DIRECTORY=app/templates