APP_ENV=dev
LOG_LEVEL=INFO
REDIS_PORT=6379
REDIS_PASSWORD=strong_passwod
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_TASK_ALWAYS_EAGER=false
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USERNAME=service@example.com
SMTP_PASSWORD=strong_passwod
SMTP_USE_TLS=true
SMTP_USE_STARTTLS=false
MAIL_FROM_NAME="Mail Service"
MAIL_FROM_EMAIL=service@example.com
MAIL_REPLY_TO=admin@example.com
TEMPLATE_DIRECTORY=app/templates